*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    align-items: flex-start;
}
body{
    background-color: #e5e5e5
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
}
.home{ 
    display: flex;/*to keep contents and product side by side*/
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    padding: 150px 100px 50px; /*to avoid fixed header overlapping*/
    background-color: #e5e5e5;
}
.logo img{
    height: 40px;
    width: 40px;
}
.search img,
.addtocart img,
.menu img{
    margin: left 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.navigation a{
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover{
    color: grey;
}
.products{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}
.product-card img{
    height: 80%;
    width: 80%;
}
.content{
    max-width: 500px;
}
.content p{
    color: grey;
}
.content h1{
    color: black;
    font-size:larger;
    font-weight: 500;
}
.content span{
    color: blueviolet;
    font-weight: 300;
}
.shop-now{
    color: white;
    margin-top: 20px;
    background-color: black;
    padding: 12px 30px;
    border-radius: 0px 25px 25px 20px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.3s ease;
}
.shop-now :hover{
    color: black;
    background-color: white;
}